html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Rubik", sans-serif;
  background-color: #ececec;
}

.contact-btn {
  background-color: #30364f;
  border: none;
  color: #ececec;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
}

.contact-btn:hover {
  color: #30364f;
  border: 2px solid #30364f;
  background-color: #ececec;
}

.container {
  max-width: 800px !important;
}

.card-title {
  font-size: 35px;
}
